[language-server.angular-ls]
command = "ngserver"
args = [
  "--ngProbeLocations",
  "${$NODE_MODULES_GLOBAL}",
  "--tsProbeLocations",
  "${$NODE_MODULES_GLOBAL}",
  "--stdio" # no trailing comma
]

# remove this from the top-level; define file-types inside a [[language]] block instead
# file-types = ["ts", "typescript", "html"]

[language-server.rust-analyzer.config.cargo]
features = "all"

[language-server.rust-analyzer.config.check]
command = "clippy"

[[language]]
name = "toml"
roots = ["."]
language-servers = ["taplo","harper-ls"]

[language-server.gopls]
command = "gopls"
config = {
  gofumpt = true,
  local = "goimports",
  semanticTokens = true,
  staticcheck = true,
  verboseOutput = true,
  analyses = { fieldalignment = true, nilness = true, unusedparams = true, unusedwrite = true, useany = true },
  usePlaceholders = true,
  completeUnimported = true,
  hints = {
    assignVariableType = true,
    compositeLiteralFields = true,
    compositeLiteralTypes = true,
    constantValues = true,
    functionTypeParameters = true,
    parameterNames = true,
    rangeVariableTypes = true
  }
}

[[language]]
name = "go"
roots = ["go.work", "go.mod"]
auto-format = true
comment-token = "//"
language-servers = ["gopls","harper-ls"]
formatter = { command = "gofmt" } # or { command = "gofumpt" }
